html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-6 {
  width: 50%;
}

.section__titile {
  text-align: center;
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}

.section__titile::before {
  content: "";
  width: 10px;
  height: 2px;
  background: #006b8f;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: underline 2s linear infinite alternate;
          animation: underline 2s linear infinite alternate;
}

@-webkit-keyframes underline {
  0% {
    background: #006b8f;
    width: 10px;
  }
  50% {
    background: #0091c1;
    width: 100%;
  }
  100% {
    width: 10px;
    background: #006b8f;
  }
}

@keyframes underline {
  0% {
    background: #006b8f;
    width: 10px;
  }
  50% {
    background: #0091c1;
    width: 100%;
  }
  100% {
    width: 10px;
    background: #006b8f;
  }
}

.hero {
  background: url("../img/work.jpg") no-repeat center/cover;
  height: 100vh;
}

.header {
  background: #0062da;
  -webkit-box-shadow: 10px 0 10px #000;
          box-shadow: 10px 0 10px #000;
  width: 100%;
  position: relative;
  z-index: 9999;
  color: #fff;
}

.header__logo {
  font-weight: 800;
}

.header__nav {
  font-weight: 700;
  max-width: 200px;
  width: 100%;
}

.projects .container {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.project {
  max-width: 450px;
  width: 100%;
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
  padding: 10px 0;
  border-radius: 8px;
  margin: 30px auto 0;
}

.project__title {
  display: block;
}

.project__link {
  color: #2b91ff;
}

.project__desc {
  margin-bottom: 20px;
}

.project__img {
  max-width: 100%;
  height: 100%;
}

.project__slide {
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: 1px solid #A1A1A1;
}

.project__info {
  padding: 0 10px;
}

.project__collaborators {
  margin-top: 15px;
}

.collaborators__link {
  display: block;
}

.about .col-6 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.img-col img {
  max-width: 100%;
}

.footer {
  background: #006b8f;
  color: #FFF;
  font-weight: 900;
}

.footer .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__title {
  display: block;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.footer__contacts-link {
  color: #FFF;
  display: block;
}

.footer__contacts-link:not(:last-child) {
  margin-bottom: 10px;
}

.footer__bottom {
  padding: 10px;
  background: #174150;
  text-align: center;
  font-weight: 700;
}
