// !global

html {
	scroll-behavior: smooth;
}

.container {
	max-width: 1200px;
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;
}

.d-flex {
	display: flex;
}

.justify-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.p20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.row {
	display: flex;
}

.col-6 {
	width: 50%;
}

.section__titile {
	text-align: center;
	position: relative;
	font-size: 24px;
	margin-bottom: 10px;
	&::before {
		content: "";
		width: 10px;
		height: 2px;
		background: #006b8f;
		position: absolute;
		bottom: -5px;
		left: 50%;
		transform: translateX(-50%);
		animation: underline 2s linear infinite alternate;

	}
}

@keyframes underline {
	0% {
		background: #006b8f;
		width: 10px;
	}
	50% {
		background: #0091c1;
		width: 100%;
	}
	100% {
		width: 10px;
		background: #006b8f;

	}
}

// !hero

.hero {
	background: url("../img/work.jpg") no-repeat center/cover;
	height: 100vh;
}

// !header
.header {
	background: rgb(0, 98, 218);
	box-shadow: 10px 0 10px #000;
	width: 100%;
	position: relative;
	z-index: 9999;
	color: #fff;

	&__logo {
		font-weight: 800;
	}

	&__nav {
		font-weight: 700;
		max-width: 200px;
		width: 100%;
	}
}

// projects 

.projects .container {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.project {
	max-width: 450px;
	width: 100%;
	box-shadow: 0 0 5px #000;
	padding: 10px 0;
	border-radius: 8px;
	margin: 30px auto 0;

	&__title {
		display: block;
	}

	&__link {
		color: rgb(43, 145, 255);
	}

	&__desc {
		margin-bottom: 20px;
	}

	&__img {
		max-width: 100%;
		height: 100%;
	}

	&__slide {
		padding-bottom: 5px;
		margin-bottom: 30px;
		border-bottom: 1px solid #A1A1A1;
	}

	&__info {
		padding: 0 10px;
	}

	&__collaborators {
		margin-top: 15px;
	}
}

.collaborators__link {
	display: block;
}


// !about

.about {
	& .col-6 {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}

.img-col {
	& img {
		max-width: 100%;
	}
}

//! footer

.footer {
	background: #006b8f;
	color: #FFF;
	font-weight: 900;

	& .container {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	&__title {
		display: block;
		text-align: center;
		font-size: 30px;
		margin-bottom: 10px;
	}

	&__contacts {
		&-link {
			color: #FFF;
			display: block;

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
	&__bottom {
		padding: 10px;
		background: #174150;
		text-align: center;
		font-weight: 700;
	}
}